* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background-color: #a7d7c5;
}

.fullscreen {
  width: 100vw - 260px;
  height: 100vh;
}

.section-center {
  display: flex;
  justify-content: center;
}

/* MARGINS */

.margin-130 {
  margin: 130px;
}

.mb-6 {
  margin-bottom: 6px;
}
